.login-page {
  background: url('../../../assets/images/accesories.PNG') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.login {
  max-width: 350px;
  margin: 0 auto;
  background-color: #00000095;
}