* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all .3s;
}

.section-title {
  color: #253d4e;
}

.bg-grd {
  background: linear-gradient(to right, #ff99cc 0%, #33ccff 100%);
}

.btn-grd {
  background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}

.btn-grd:hover {
  background: linear-gradient(to right, #ff99cc 0%, #33ccff 100%);
}